<section class="featured-img text-center about-bg">
    <div class="overlay"></div>
    <div class="breadcrumbs">
        <div class="table width-100p height-100p">
            <div class="table-row">
                <div class="table-cell align-middle">
                    <div class="h4">ABOUT US</div>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><span>-</span></li>
                        <li><span>About Us</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>