<!-- PAGE CONTENT START -->
<section class="page-content detail-page">
    <div class="container page-content-wrapper" *ngIf="podcast">
        <div class="row">
            <div class="col-sm-12">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" [src]="getSoundCloudUrl()"></iframe>
            </div>
        </div>
        <div class="row portfolio-detail-wrapper">
            <div class="col-sm-9">
                <h1>{{podcast.title}}</h1>
                <p> {{podcast.shortDescription}} </p>
                <p>
                    <iframe width="560" height="315" [src]="getYoutubeUrl()" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </p>
            </div>
            <div class="col-sm-3">
                <aside>
                    <div class="h6">Katılımcılar</div>
                    <span>
                        <ul>
                            <li *ngFor="let attendee of podcast.attendees">{{attendee}}</li>
                        </ul>
                    </span>
                    <div class="h6">Tarih</div>
                    <span>{{podcast.publishDate}}</span>
                    <div class="h6">Tags</div>
                    <span>
                        <ul>
                            <li *ngFor="let tag of podcast.tags">{{tag}}</li>
                        </ul>
                    </span>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- PAGE CONTENT END -->