nav.main-nav {
    display: inline-block;
    float: right;
}

    nav.main-nav ul {
        list-style: none;
        margin-bottom: 0;
    }

        nav.main-nav ul li {
            display: inline-block;
            height: 81px;
            line-height: 81px;
            padding: 0;
            margin: 0 10px;
            position: relative;
        }

            nav.main-nav ul li:last-child {
                margin-right: 0;
            }

    nav.main-nav > ul > li:hover > a,
    nav.main-nav > ul > li.active > a {
        color: #fff !important;
        text-decoration: none;
    }

    nav.main-nav > ul > li:hover > a,
    nav.main-nav > ul > li.active > a {
        border-radius: 10px;
    }

    nav.main-nav ul li a {
        font-weight: 400;
        font-size: 15px;
        padding: 0 10px;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        transition: .2s;
        display: inline-block;
        height: 38px;
        line-height: 38px;
    }

        nav.main-nav ul li a i:before {
            -webkit-transition: none;
            -moz-transition: none;
            transition: none;
        }

    nav.main-nav > ul > li > .sub {
        padding-top: 5px;
    }

    nav.main-nav ul li .sub {
        position: absolute;
        top: 81px;
        display: none;
    }

    nav.main-nav > ul > li > .sub .sub {
        top: 0;
        left: 100%;
    }

    nav.main-nav ul li .sub ul {
        min-width: 200px;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    nav.main-nav ul li ul {
        padding-left: 0;
        background: #fff;
    }

        nav.main-nav ul li ul li {
            white-space: nowrap;
            margin: 0;
            display: block;
            height: auto;
            line-height: normal;
        }

            nav.main-nav ul li ul li a {
                display: block;
            }

                nav.main-nav ul li ul li a:hover {
                    color: #fff !important;
                }
