<div class="menu-container">
    <div class="menu-wrap">
        <nav class="menu">
            <ul>
                <li><a [routerLink]="['/home']" class="btn-7"><span>ABOUT</span></a></li>
                <li><a [routerLink]="['/about']" class="btn-7"><span>TEAM</span></a></li>
                <!--<li class="has-sub">
                    <a href="#" class="btn-7"><span>SERVICES <i class="fa fa-caret-down" aria-hidden="true"></i></span></a>
                    <div class="sub">
                        <ul>
                            <li><a href="services.html">Page</a></li>
                            <li><a href="services-detail.html">Detailed</a></li>
                        </ul>
                    </div>
                </li>
                <li class="has-sub">
                    <a href="#" class="btn-7"><span>PORTFOLIO <i class="fa fa-caret-down" aria-hidden="true"></i></span></a>
                    <div class="sub">
                        <ul>
                            <li><a href="portfolio.html">Page</a></li>
                            <li><a href="portfolio-detail.html">Detailed</a></li>
                        </ul>
                    </div>
                </li>
                <li class="has-sub">
                    <a href="#" class="btn-7"><span>BLOG <i class="fa fa-caret-down" aria-hidden="true"></i></span></a>
                    <div class="sub">
                        <ul>
                            <li><a href="blog.html">Full Width</a></li>
                            <li><a href="blog-with-leftbar.html">With Left Sidebar</a></li>
                            <li><a href="blog-with-rightbar.html">With Right Sidebar</a></li>
                            <li><a href="blog-detail.html">Detail Page</a></li>
                            <li><a href="blog-detail-leftbar.html">Detail Page With Left Sidebar</a></li>
                            <li><a href="blog-detail-rightbar.html">Detail Page With Right Sidebar</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="price.html" class="btn-7"><span>PRICE</span></a></li>
                <li><a href="contact.html" class="btn-7"><span>CONTACT</span></a></li>-->
            </ul>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
    </div>
    <div class="menu-shadow"></div>
</div>