<!-- PAGE CONTENT START -->
<section class="page-content">
    <div class="container page-content-wrapper">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-slider">
                    <div class="simple-slider owl-carousel">
                        <img src="assets/images/about-slide-2.jpg" alt="lorem ipsum dolor sit" />
                        <img src="assets/images/about-slide-1.jpg" alt="lorem ipsum dolor sit" />
                        <img src="assets/images/about-slide-2.jpg" alt="lorem ipsum dolor sit" />
                        <img src="assets/images/about-slide-1.jpg" alt="lorem ipsum dolor sit" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-content gallery">
                    <h1>A Multipurpose Creative Design</h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique, tempor sagittis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sit amet ligula consequat urna posuere convallis.Cras porta dolor ut velit imperdiet, quis sodales tellus facilisis. Vestibulum magna turpis, tincidun blandit semper lorem. Donec sit amet ligula consequat urna posuere convallis </p>
                    <a href="http://vimeo.com/7874398" class="pretty btn default mt20 with-arrow-btn"><span>XL VIDEO TOUR</span> <i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PAGE CONTENT END -->
<!-- ABOUT SECTION START -->
<section id="about" class="section-wrapper gray-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 heding-wrapper text-center scale-less animate-in">
                <span>XL CREATIVE WEBSITE TEMPLATE</span>
                <h2>A Digital Creative Design Egency</h2>
                <span class="spliter"></span>
            </div>
        </div>
        <div class="row about-wrapper">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 about-box text-center fade-in animate-in">
                <span class="single-icon"><i class="fa fa-heart"></i></span>
                <div class="clearfix"></div>
                <span class="spliter"></span>
                <div class="h6">Pellentesque in Ipsum id Orci Porta Curabitur Aliquet Quam</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 about-box text-center fade-in animate-in">
                <span class="single-icon"><i class="fa fa-star"></i></span>
                <div class="clearfix"></div>
                <span class="spliter"></span>
                <div class="h6">Curabitur arcu erat, accumsan mperdiet et, porttitor at sem.</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 about-box text-center fade-in animate-in">
                <span class="single-icon"><i class="fa fa-lightbulb-o"></i></span>
                <div class="clearfix"></div>
                <span class="spliter"></span>
                <div class="h6">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 about-box text-center fade-in animate-in">
                <span class="single-icon"><i class="fa fa-trophy"></i></span>
                <div class="clearfix"></div>
                <span class="spliter"></span>
                <div class="h6">Proin eget tortor risus Mauris blandit aliquet eli</div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT SECTION END -->
<!-- SPECILIZE SECTION START -->
<section class="section-wrapper p0 flex block-768">
    <div class="w50p w100p-768 flex jc-flex-end block-768">
        <div class="mw585 mw100p-768 pt50 pr50 pb50 pl15 pr15-768">
            <div class="heding-wrapper pt0 priority scale-less animate-in">
                <span>SPECIALISED IN</span>
                <h2>Our Expertise</h2>
                <span class="spliter"></span>
            </div>
            <div class="specilize-wrapper">
                <div class="h6">Consectetur adipiscing elit. Fusce nisi enim, Vulputate at Justo tristique, Tempor Sagittis Dolor.</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <strong>quis no strud exercitation ullamco</strong> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
    <div class="w50p w100p-768 theme-background about-skills flex jd-column jc-center block-768">
        <div class="pt50 pr50 pb50 pl50 pl15-768 pr15-768">
            <div class="specilize-wrapper">
                <div class="skills-slider-holder skills-start">
                    <div class="progress skill-bar animate-in">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="skill">HTML<div class="val">100%</div></div>
                        </div>
                    </div>
                    <div class="progress skill-bar animate-in">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div class="skill">PHOTOSHOP<div class="val">90%</div></div>
                        </div>
                    </div>
                    <div class="progress skill-bar animate-in">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="skill">WORDPRESS<div class="val">75%</div></div>
                        </div>
                    </div>
                    <div class="progress skill-bar animate-in">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                            <div class="skill">PHP<div class="val">55%</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SPECILIZE SECTION END -->
<!-- TEAM SECTION START -->
<section id="team" class="section-wrapper gray-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 heding-wrapper text-left scale-less animate-in text-center">
                <span>WE ARE EXPERT</span>
                <h2>Meet Our Team</h2>
                <span class="spliter"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="team-holder text-center scale-big team-box animate-in">
                    <a href="#"> <img class="img-responsive" src="assets/images/team-1.jpg" alt="team-img"> </a>
                    <div class="name">L. Frank Baum</div>
                    <div class="position">Co-Founde</div>
                    <span class="spliter"></span>
                    <div class="clearfix"></div>
                    <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a> <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-holder text-center scale-big team-box animate-in">
                    <a href="#"> <img class="img-responsive" src="assets/images/team-2.jpg" alt="team-img"> </a>
                    <div class="name">Edgar Rice Burroughs</div>
                    <div class="position">Graphic Designer</div>
                    <span class="spliter"></span>
                    <div class="clearfix"></div>
                    <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a> <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-holder text-center scale-big team-box animate-in">
                    <a href="#"> <img class="img-responsive" src="assets/images/team-3.jpg" alt="team-img"> </a>
                    <div class="name">Lewis Carroll</div>
                    <div class="position">Photographer</div>
                    <span class="spliter"></span>
                    <div class="clearfix"></div>
                    <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a> <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-holder text-center scale-big team-box animate-in">
                    <a href="#"> <img class="img-responsive" src="assets/images/team-4.jpg" alt="team-img"> </a>
                    <div class="name">Jules Verne</div>
                    <div class="position">SEO Expert</div>
                    <span class="spliter"></span>
                    <div class="clearfix"></div>
                    <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a> <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TEAM SECTION END -->