<!-- PAGE CONTENT START -->
<section class="page-content detail-page">
  <div class="container page-content-wrapper">
    <div class="row">
      <div class="col-sm-9">
        <div class="blog-post-holder">
          <div class="detail-page-feature"> <a href="blog-detail.html"><img src="/assets/images/inner-blog-1.jpeg" alt="services-detail-img"></a> </div>
          <h2><a href="blog-detail.html">Integer Erat Libero, Molestie Et.</a></h2>
          <div> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean... </div>
          <div class="meta"> <span class="meta-item meta-date"><i class="fa fa-calendar"></i> 18 May 2015</span> <span class="meta-item meta-author"><i class="fa fa-user"></i><a rel="author" href="#">xlwproot</a></span> <span class="meta-item meta-category"><i class="fa fa-folder-open-o"></i><a href="#">Blog</a></span> </div>
          <a class="btn default" href="blog-detail.html">Read More</a>
        </div>
        <div class="blog-post-holder">
          <div class="detail-page-feature"> <a href="blog-detail.html"><img src="/assets/images/inner-blog-1.jpeg" alt="services-detail-img"></a> </div>
          <h2><a href="blog-detail.html">Integer Erat Libero, Molestie Et.</a></h2>
          <div> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean... </div>
          <div class="meta"> <span class="meta-item meta-date"><i class="fa fa-calendar"></i> 18 May 2015</span> <span class="meta-item meta-author"><i class="fa fa-user"></i><a rel="author" href="#">xlwproot</a></span> <span class="meta-item meta-category"><i class="fa fa-folder-open-o"></i><a href="#">Blog</a></span> </div>
          <a class="btn default" href="blog-detail.html">Read More</a>
        </div>
        <div class="blog-post-holder">
          <div class="detail-page-feature"> <a href="blog-detail.html"><img src="/assets/images/inner-blog-1.jpeg" alt="services-detail-img"></a> </div>
          <h2><a href="blog-detail.html">Integer Erat Libero, Molestie Et.</a></h2>
          <div> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean... </div>
          <div class="meta"> <span class="meta-item meta-date"><i class="fa fa-calendar"></i> 18 May 2015</span> <span class="meta-item meta-author"><i class="fa fa-user"></i><a rel="author" href="#">xlwproot</a></span> <span class="meta-item meta-category"><i class="fa fa-folder-open-o"></i><a href="#">Blog</a></span> </div>
          <a class="btn default" href="blog-detail.html">Read More</a>
        </div>
        <div class="blog-post-holder">
          <div class="detail-page-feature"> <a href="blog-detail.html"><img src="/assets/images/inner-blog-1.jpeg" alt="services-detail-img"></a> </div>
          <h2><a href="blog-detail.html">Integer Erat Libero, Molestie Et.</a></h2>
          <div> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean... </div>
          <div class="meta"> <span class="meta-item meta-date"><i class="fa fa-calendar"></i> 18 May 2015</span> <span class="meta-item meta-author"><i class="fa fa-user"></i><a rel="author" href="#">xlwproot</a></span> <span class="meta-item meta-category"><i class="fa fa-folder-open-o"></i><a href="#">Blog</a></span> </div>
          <a class="btn default" href="blog-detail.html">Read More</a>
        </div>
        <div class="blog-post-holder">
          <div class="detail-page-feature"> <a href="blog-detail.html"><img src="/assets/images/inner-blog-1.jpeg" alt="services-detail-img"></a> </div>
          <h2><a href="blog-detail.html">Integer Erat Libero, Molestie Et.</a></h2>
          <div> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean... </div>
          <div class="meta"> <span class="meta-item meta-date"><i class="fa fa-calendar"></i> 18 May 2015</span> <span class="meta-item meta-author"><i class="fa fa-user"></i><a rel="author" href="#">xlwproot</a></span> <span class="meta-item meta-category"><i class="fa fa-folder-open-o"></i><a href="#">Blog</a></span> </div>
          <a class="btn default" href="blog-detail.html">Read More</a>
        </div>
        <!--PAGINATION START-->
        <app-pagination></app-pagination>
        <!--PAGINATION END-->
      </div>
      <div class="col-sm-3">
        <aside class="widget services-list">
          <div class="h5"> Our Creative Services </div>
          <span class="spliter"></span>
          <ul>
            <li class="active"> <a href="services-detail.html"> <i class="fa fa-check-circle-o"></i> Marketing <i class="fa fa-angle-right"></i> </a> </li>
            <li> <a href="services-detail.html"> <i class="fa fa-check-circle-o"></i> Web Design <i class="fa fa-angle-right"></i> </a> </li>
            <li> <a href="services-detail.html"> <i class="fa fa-check-circle-o"></i> Web Development <i class="fa fa-angle-right"></i> </a> </li>
            <li> <a href="services-detail.html"> <i class="fa fa-check-circle-o"></i> Graphic Design <i class="fa fa-angle-right"></i> </a> </li>
            <li> <a href="services-detail.html"> <i class="fa fa-check-circle-o"></i> Branding <i class="fa fa-angle-right"></i> </a> </li>
            <li> <a href="services-detail.html"> <i class="fa fa-check-circle-o"></i> Printing <i class="fa fa-angle-right"></i> </a> </li>
          </ul>
        </aside>
        <aside class="widget recent-post">
          <div class="h5"> Recent Posts </div>
          <span class="spliter"></span>
          <ul class="right-blogSide">
            <li>
              <a href="blog-detail.html"> <img src="/assets/images/sidebar-blog-1.jpg" alt="sidebar-thumbnail"> </a>
              <div class="recent-post-content"> <a href="blog-detail.html">Let her go, Granser,Ho Hoo encouraged</a> <span class="meta-date">May 24, 2015</span> </div>
            </li>
            <li>
              <a href="blog-detail.html"> <img src="/assets/images/sidebar-blog-2.jpg" alt="sidebar-thumbnail"> </a>
              <div class="recent-post-content"> <a href="blog-detail.html">Let her go, Granser,Ho Hoo encouraged</a> <span class="meta-date">May 24, 2015</span> </div>
            </li>
            <li>
              <a href="blog-detail.html"> <img src="/assets/images/sidebar-blog-3.jpg" alt="sidebar-thumbnail"> </a>
              <div class="recent-post-content"> <a href="blog-detail.html">Let her go, Granser,Ho Hoo encouraged</a> <span class="meta-date">May 24, 2015</span> </div>
            </li>
          </ul>
        </aside>
        <aside class="widget side-testimonials">
          <div class="h5"> What our Client Say </div>
          <span class="spliter"></span>
          <div class="testimonial-slider owl-carousel owl-theme">
            <div class="item">
              <p>"Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.</p>
              <div class="testi-author-meta">
                <img src="/assets/images/sidebar-testimonial-1.jpg" alt="testimonials-author">
                <div class="h2">Jack London <small>NYC, Studios</small></div>
              </div>
            </div>
            <div class="item">
              <p>"Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.</p>
              <div class="testi-author-meta">
                <img src="/assets/images/sidebar-testimonial-1.jpg" alt="testimonials-author">
                <div class="h2">Jack London <small>NYC, Studios</small></div>
              </div>
            </div>
            <div class="item">
              <p>"Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.</p>
              <div class="testi-author-meta">
                <img src="/assets/images/sidebar-testimonial-1.jpg" alt="testimonials-author">
                <div class="h2">Jack London <small>NYC, Studios</small></div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- PAGE CONTENT END -->