@media (min-width:1170px) and (max-width: 1199px) {
    .container {
        width: 1100px;
        padding: 0;
        border: 0;
    }
}

* {
    outline: none !important;
}

[class*=" imghvr-"],
[class^=imghvr-] {
    display: block;
}

    [class*=" imghvr-"] a,
    [class^=imghvr-] a {
        position: static;
        left: auto;
        top: auto;
        bottom: auto;
        right: auto;
        z-index: auto;
    }

.width-100p {
    width: 100%;
}

.height-100p {
    height: 100%;
}

.table {
    display: table;
    margin-bottom: 0;
    height: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.align-middle {
    vertical-align: middle;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

    body.sticky {
        padding-top: 81px;
    }

a, a:active, a:visited, a:focus {
    text-decoration: none;
    color: #fff;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

    a:hover {
        text-decoration: none;
    }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Asap';
    font-weight: 700;
}

h1, h2, h3,
.h1, .h2, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

h4, h5, h6,
.h4, .h5, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

body .pl15,
body .pl15.priority {
    padding-left: 15px;
}

body .pr15,
body .pr15.priority {
    padding-right: 15px;
}

body .pl50,
body .pl50.priority {
    padding-left: 50px;
}

body .pr50,
body .pr50.priority {
    padding-right: 50px;
}

body .pt50,
body .pt50.priority {
    padding-top: 50px;
}

body .pb50,
body .pb50.priority {
    padding-bottom: 50px;
}

body .pb60,
body .pb60.priority {
    padding-bottom: 60px;
}

body .p0,
body .p0.priority {
    padding: 0;
}

body .p10,
body .p10.priority {
    padding: 10px;
}

body .pt0,
body .pt0.priority {
    padding-top: 0;
}

body .mb10,
body .mb10.priority {
    margin-bottom: 10px;
}

body .mt40,
body .mt40.priority {
    margin-top: 40px;
}

body .mt50,
body .mt50.priority {
    margin-top: 50px;
}

body .mb40,
body .mb40.priority {
    margin-bottom: 40px;
}

a:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.spliter {
    display: inline-block;
    height: 6px;
    border-radius: 10px;
    width: 72px;
    clear: both;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.cd-primary-nav {
    list-style: none;
}

a.invert-btn {
    background: #fff;
}

    a.invert-btn:hover {
        border-width: 1px;
        border-style: solid;
    }

.bottom-40 {
    margin-bottom: 40px;
}

.mt20 {
    margin-top: 20px;
}

.c-table {
    display: table;
}

.c-row {
    display: table-row;
}

.c-cell {
    display: table-cell;
    vertical-align: middle;
}

.parallax {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.owl-carousel .owl-item img {
    width: auto;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.jc-center {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.jc-flex-end {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
}

.ai-center {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.jd-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.uppercase {
    text-transform: uppercase;
}

.w50p {
    width: 50%;
}

.mw585 {
    max-width: 585px;
}

.centerer {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.wrap {
    float: left;
    margin: 5px;
}
/* ---------------------------------- FEATURES SECTION -------------------------------- */
.feature-icon {
    font-size: 50px;
    text-align: center;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

.feature-text .title {
    font-family: 'Asap';
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .feature-text {
        text-align: center;
    }
}
/* ---------------------------------- EXPERENCES SECTION -------------------------------- */
.accordion .panel {
    background: #fff;
    border: 0 !important;
    box-shadow: none !important;
}

.accordion .panel-default > .panel-heading {
    background: none;
    border-bottom: 0;
    box-shadow: none;
    padding: 0 15px 0 0;
    height: 49px;
    line-height: 49px;
}

    .accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top: 0;
    }

.panel-group .panel + .panel {
    margin-top: 2px;
}

.panel-group .panel {
    border-radius: 0;
}

.accordion .panel-title a,
.accordion .panel-title a:hover {
    font-weight: normal;
    font-family: 'Asap';
}

.accordion .panel-heading {
    padding-right: 0;
    padding-left: 0;
}

    .accordion .panel-heading i {
        color: #fff;
        float: left;
        font-size: 22px;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        transition: .2s;
        display: inline-block;
        text-align: center;
        width: 56px;
        height: 49px;
        line-height: 46px;
        margin-right: 20px;
    }

.panel-collapse .panel-body {
    margin-left: 60px;
    padding-bottom: 25px;
}

.panel-title {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .panel-title a:hover,
    .panel-title a:active,
    .panel-title a:focus,
    .panel-title a:visited {
        text-decoration: none;
    }

.accordion .panel-collapse.in .panel-heading i {
    font-weight: lighter;
}

.pt20 {
    padding-top: 20px;
}

.btn {
    border-radius: 25px;
    display: inline-block;
    padding: 10px 25px;
    font-size: 16px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

    .btn.border-1,
    .btn.border-2 {
        border-width: 1px;
        border-style: solid;
    }

    .btn.border-2 {
        border-width: 2px;
    }

    .btn.p10-50 {
        padding: 10px 50px;
    }

    .btn.default {
        color: #fff;
    }

        .btn.default:hover {
            background-color: #fff;
        }

    .btn.transparent {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
    }

        .btn.transparent:hover {
            background-color: #fff;
        }

    .btn.dark,
    .btn.dark:hover {
        color: #fff;
    }

    .btn.light {
        background-color: #fff;
    }

        .btn.light:hover,
        .btn.light.border-1:hover,
        .btn.light.border-2:hover {
            color: #fff;
        }
/* ---------------------------------- SKILLS ---------------------------------- */
.specilize-wrapper .h6 {
    font-size: 20px;
    font-family: 'Asap';
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 30px;
}

.half-container-right {
    float: right;
    width: 585px;
    padding-right: 45px;
}

    .half-container-right .row > div {
        padding-left: 45px;
    }

.half-container-left .row > div {
    padding-right: 45px;
    padding-top: 20px;
}

.half-container-left {
    float: left;
    width: 100%;
    padding-left: 45px;
}
/* ---------------------------------- SERVICES SECTION ---------------------------------- */
.gray-background {
    background: #f0f0f0;
}

.services-container:after {
    clear: both;
    content: "";
    display: table;
}

.services-container {
    margin: 0;
    padding: 0;
}

    .services-container li {
        list-style: outside none none;
        margin: 0 0 30px 0;
        position: relative;
        -webkit-perspective: 400px;
        perspective: 400px;
        overflow: hidden;
    }

    .services-container .info {
        text-align: center;
        padding: 5px;
        border-radius: 4px;
    }

    .services-container li .subtitle {
        display: block;
        text-align: center;
        font-family: 'Roboto';
        font-size: 18px;
        color: #fff;
        margin-bottom: 5px;
    }

    .services-container li .title {
        color: #fff;
        font-family: 'Asap';
        font-size: 21px;
        font-weight: 700;
        margin: 0 0 15px 0px;
        color: #fff;
        text-transform: uppercase;
    }
/* ---------------------------------- PORTFOLIO SECTION ---------------------------------- */
.portfolio-wrapper {
    position: relative;
}

    .portfolio-wrapper ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

        .portfolio-wrapper ul li {
            display: inline-block;
            margin: 0 25px;
            line-height: 15px;
        }

    .portfolio-wrapper .filter-item {
        font-size: 20px;
        font-family: 'Asap';
        text-decoration: none;
        cursor: pointer;
    }

    .portfolio-wrapper ul li span.spliter {
        width: 0;
    }

    .portfolio-wrapper ul li:hover span.spliter, .portfolio-wrapper ul li.active span.spliter {
        width: 100%;
    }

    .portfolio-wrapper .portfolio-list {
        margin: 30px 0 0 0;
        -webkit-transition: height 0.2s ease;
        -moz-transition: height 0.2s ease;
        transition: height 0.2s ease;
    }

        .portfolio-wrapper .portfolio-list img {
            width: 100%;
        }

    .portfolio-wrapper .portfolio-list {
        position: relative;
    }

        .portfolio-wrapper .portfolio-list > div {
            width: 25%;
            padding: 15px;
            overflow: hidden;
            position: absolute;
            z-index: 1;
        }

        .portfolio-wrapper .portfolio-list .portfolio-holder {
            position: relative;
        }

            .portfolio-wrapper .portfolio-list .portfolio-holder [class*=" imghvr-"],
            .portfolio-wrapper .portfolio-list .portfolio-holder [class^=imghvr-],
            .portfolio-wrapper .portfolio-list .portfolio-holder [class*=" imghvr-"] figcaption,
            .portfolio-wrapper .portfolio-list .portfolio-holder [class^=imghvr-] figcaption {
                background: transparent;
            }

                .portfolio-wrapper .portfolio-list .portfolio-holder [class*=" imghvr-"]:before,
                .portfolio-wrapper .portfolio-list .portfolio-holder [class^=imghvr-]:before {
                    background: rgba(0, 0, 0, .5);
                }

        .portfolio-wrapper .portfolio-list .title {
            color: #fff;
            text-transform: uppercase;
            font-size: 21px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .portfolio-wrapper .portfolio-list .subtitle {
            color: #fff;
        }

        .portfolio-wrapper .portfolio-list .description {
            font-size: 15px;
        }

        .portfolio-wrapper .portfolio-list .mask {
            padding: 5px;
        }

.mask a.lightbox {
    font-size: 18px;
}

.lightbox i.fa {
    font-size: 18px;
}

.view-fourth .mask a.lightbox {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    height: 44px;
    width: 44px;
    text-align: center;
    line-height: 44px;
    color: #fff;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

.portfolio-wrapper .portfolio-list .view {
    margin: auto;
}

.portfolio-wrapper a {
    color: #fff;
}

.portfolio-wrapper .portfolio-list a {
    text-transform: none;
}

.portfolio-wrapper .portfolio-list figure a.lightbox i {
    vertical-align: middle;
}

.portfolio-wrapper .portfolio-list figure a.lightbox,
.portfolio-wrapper .portfolio-list figure a.lightbox:hover {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    height: 44px;
    width: 44px;
    text-align: center;
    line-height: 44px;
    color: #fff;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: .2s ease .1s;
    -moz-transition: .2s ease .1s;
    transition: .2s ease .1s;
}

.portfolio-wrapper .portfolio-list figure:hover a.lightbox {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
/* ---------------------------------- TEAM SECTION ---------------------------------- */
.team-holder {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 15px;
    background: #f0f0f0;
}

    .team-holder:hover {
        -webkit-box-shadow: 3px 3px 5px #d3d2d0;
        -moz-box-shadow: 3px 3px 5px #d3d2d0;
        box-shadow: 3px 3px 5px #d3d2d0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .team-holder img {
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        transition: .2s;
    }

    .team-holder .name {
        font-size: 20px;
        font-weight: normal;
        margin: 15px 0 0 0;
    }

    .team-holder .position {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        display: block;
        margin: 10px 0 0 0;
    }

    .team-holder .spliter {
        width: 35px;
        margin: 15px 0 15px 0;
        background: #acacac;
    }

    .team-holder:hover .spliter {
        width: 70px;
    }
/* ---------------------------------- TESTMONIALS SECTION ---------------------------------- */
.testimonial-wrapper {
    position: relative;
}

    .testimonial-wrapper .overlay {
        width: 100%;
        background: rgba(0, 0, 0, .5);
        z-index: 1;
        padding: 100px 0;
    }

.testimonial-slider .item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.widget .testimonial-slider .item {
    display: block;
}

.testimonial-slider .author {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
    width: 70px;
    height: 70px;
}

.testimonial-content {
    color: #fff;
    padding-left: 50px;
}

    .testimonial-content .name {
        font-weight: 700;
        font-size: 18px;
    }

    .testimonial-content .job {
        display: block;
        font-weight: 300;
        margin-top: 15px;
    }

    .testimonial-content .spliter {
        width: 35px;
        margin: 15px 0 28px 0;
    }

@media screen and (max-width: 767px) {
    .testimonial-wrapper .overlay {
        padding: 50px 0;
    }

    .testimonial-slider .item {
        display: block;
        text-align: center;
    }

    .widget .testimonial-slider .item {
        text-align: left;
    }

    .testimonial-slider .author {
        margin-left: auto;
        margin-right: auto;
    }

    .testimonial-content {
        padding-left: 0;
    }
}
/* ---------------------------------- PRICE SECTION ---------------------------------- */
.price-holder.heding-wrapper {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    background: #f8f8f8;
    overflow: hidden;
    padding: 40px 0;
    margin-bottom: 20px;
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}

    .price-holder.heding-wrapper:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
        position: relative;
        box-shadow: 2px 2px 5px #d3d2d0;
        background: #fff;
        -webkit-transition: transform .2s ease-out;
        -moz-transition: transform .2s ease-out;
        transition: transform .2s ease-out;
    }

    .price-holder.heding-wrapper .spliter {
        width: 35px;
    }

    .price-holder.heding-wrapper:hover .spliter {
        width: 75px;
    }

    .price-holder.heding-wrapper .name {
        font-family: 'Asap';
        font-size: 20px;
    }

    .price-holder.heding-wrapper .price {
        margin: 20px 0 10px;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 38px;
    }

    .price-holder.heding-wrapper ul {
        list-style: none;
        margin: 25px 0;
        padding: 0;
    }

        .price-holder.heding-wrapper ul li {
            border-bottom: 1px solid #fff;
            padding: 10px 15px;
            background: #efefef;
        }

@media screen and (max-width: 970px) {
    .price-holder.heding-wrapper:hover {
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    }
}
/* ---------------------------------- CLIENT SECTION ---------------------------------- */
.client-wrapper .owl-item .col-clients {
    padding: 0 15px;
    text-align: center;
}

.client-wrapper .owl-item img {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    margin: 0;
    display: inline-block;
}
/* ---------------------------------- CONTACT SECTION ---------------------------------- */
.contact-background {
    padding: 0;
    width: 100%;
    position: relative;
    float: left;
}

    .contact-background .overlay {
        background: rgba(0, 0, 0, 0.5);
        padding: 0 0 40px 0;
    }

.section-wrapper.contact-background .heding-wrapper span,
.section-wrapper.contact-background .heding-wrapper h2 {
    color: #fff;
}

.contact-form input:not(.submit) {
    width: 100%;
    height: 48px;
    border: 2px solid #fff;
    color: #fff;
    background: none;
    margin-bottom: 15px;
    padding-left: 20px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

.contact-form input:focus {
    background: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

input:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

::-webkit-textarea-placeholder {
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

:-ms-textarea-placeholder {
    color: #fff;
    opacity: 1;
}

textarea:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.contact-form textarea {
    width: 100%;
    height: 190px;
    border: 2px solid #fff;
    color: #fff;
    resize: none;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    background: none;
}

    .contact-form textarea:focus {
        background: #fff;
    }

.contact-form input[type=submit] {
    border-width: 2px;
    border-style: solid;
}

.contact-holder .detail-holder {
    color: #fff;
    margin-bottom: 60px;
}

    .contact-holder .detail-holder a {
        color: #fff;
    }

    .contact-holder .detail-holder i {
        color: #fff;
    }

.contact-holder .left-detail {
    padding-right: 25px;
    width: 50px;
    text-align: center;
}

    .contact-holder .left-detail .spliter {
        margin-top: 10px;
    }

.mask h3 {
    font-size: 21px;
}

.page-content.contact-wrapper p {
    margin-bottom: 20px;
}

.page-contact-form input:not(.submit) {
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 48px;
    padding-left: 20px;
}

.page-contact-form input:focus,
.page-contact-form textarea:focus {
    background: #f7f7f7;
}

.page-contact-form textarea {
    height: 215px;
    border: 1px solid #d9d9d9;
    resize: none;
    margin-bottom: 40px;
    width: 100%;
    padding: 20px;
}

.page-contact-form input[type=submit].submit {
    border-color: #d9d9d9;
}

.page-contact-form input[type=submit]:hover {
    color: #fff;
}

.page-contact-form label {
    display: block;
    font-weight: lighter;
    margin: 30px 0 15px;
}

.page-content .contact-page-ops span.heading-spn {
    display: block;
    font-size: 26px;
}

.page-content .contact-page-ops span.spliter {
    margin-top: 20px;
    margin-bottom: 40px;
}

.page-content .contact-holder .detail-holder {
    margin-bottom: 52px;
}
/* ---------------------------------- MAP SECTION ---------------------------------- */
#map-canvas {
    width: 100%;
    height: 230px;
}
/* ---------------------------------- FOOTER SECTION ---------------------------------- */
footer {
    height: auto;
    background: #424242;
    padding: 60px 0 60px 0;
}

    footer .footer-left div {
        color: #fff;
        margin-top: 40px;
    }

    footer .footer-left {
        margin-top: 0px;
    }

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    footer .h3 {
        color: #fff;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    footer a {
        color: #fff;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: none;
        }

    footer .footer-left ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        margin-top: 15px;
    }

    footer ul li {
        padding: 3px 0;
    }

    footer .footer-left ul li {
        display: inline-block;
        margin-left: 5px;
    }

        footer .footer-left ul li:first-child {
            margin-left: 0;
        }

    footer ul.footer-thumb li {
        display: inline-block;
    }

    footer ul li img {
        display: inline-block;
        margin: 0 2px 2px;
        height: 80px;
        width: 78px;
    }

    footer .footer-left ul li a {
        width: 34px;
        height: 34px;
        border-radius: 2px;
        font-size: 18px;
        background: #707070;
        color: #fff;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        transition: .2s;
        display: inline-block;
        text-align: center;
        line-height: 35px;
        margin-top: 5px;
        text-decoration: none;
    }

        footer .footer-left ul li a:hover {
            color: #fff !important;
        }

.bottom-bar {
    padding: 40px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    float: left;
}

    .bottom-bar a {
        color: #fff;
    }
/* ---------------------------------- SCROLL TO TOP ---------------------------------- */
a.scrollToTop {
    width: 50px;
    height: 50px;
    text-align: center;
    background: #fff;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 40px;
    display: none;
    border-width: 5px;
    border-style: solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 32px;
    line-height: 32px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    z-index: 9999;
}

.scrollToTop:hover {
    text-decoration: none;
    color: #fff !important;
    border-color: #fff;
}
/* ---------------------------------- ANIMATION ---------------------------------- */
.animate-in {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

.bottom-out {
    margin-top: 200px;
}

    .bottom-out.animated {
        margin-top: 20px;
    }

.fade-in {
    opacity: 0;
    margin-top: -20px;
}

    .fade-in.animated {
        opacity: 1;
        margin-top: 0px;
    }

.scale-less {
    opacity: 0;
    -ms-transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
}

    .scale-less.animated {
        opacity: 1;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

.left-out {
    margin-left: -100%;
    opacity: 0;
}

    .left-out.animated {
        margin-left: 0;
        margin-top: -181px;
        opacity: 1;
    }

.right-out {
    margin-right: -100%;
    opacity: 0;
}

    .right-out.animated {
        margin-right: -70px;
        margin-top: -202px;
        opacity: 1;
    }

.move-up {
    margin-top: 30px;
    opacity: 0;
}

    .move-up.animated {
        margin-top: 0;
        opacity: 1;
    }

.scale-big {
    opacity: 0;
    -ms-transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
}

    .scale-big.animated {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

.small-spliter {
    width: 50px;
}

    .small-spliter.animated {
        width: 20px;
    }
/* ---------------------------------- CUSTOM MEDIA QUERY ---------------------------------- */
@media only screen and (max-width: 1170px) {
    .img-responsive {
        width: 100%;
    }

    header nav.main-nav {
        margin-right: 75px;
    }

    .about-wrapper .about-box h6 {
        padding: 0;
    }

    .skills .skills-wrapper #skill-one.circle {
        margin-left: 50px;
    }

    .skills .skills-wrapper #skill-five.circle {
        margin-right: 50px;
    }

    .portfolio-wrapper .portfolio-list > div {
        width: 33.333333%;
    }
}

@media only screen and (max-width: 1024px) {
    header nav.main-nav ul li {
        padding: 0 15px;
    }

    .half-container-left, .half-container-right {
        width: 50%;
    }

    header nav.main-nav {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .half-container-left, .half-container-right {
        width: 100%;
    }

    .half-container-right, .half-container-left {
        padding-left: 0;
        padding-right: 0;
    }

        .half-container-right .row > div, .half-container-left .row > div {
            padding-left: 30px;
            padding-right: 30px;
        }

    footer {
        text-align: left;
    }

        footer div {
            float: none;
        }

        footer .footer-left ul {
            text-align: left;
        }

    .container {
        overflow: hidden;
    }

    .portfolio-wrapper .portfolio-list > div {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .page-content .portfolio-wrapper .portfolio-list > div {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .top-bar .left-side, .top-bar .right-side {
        text-align: center;
    }

    .top-bar {
        height: auto;
        padding-bottom: 10px;
    }

    .left-out.animated {
        margin-left: -50px;
        margin-top: -181px;
    }

    .right-out.animated {
        margin-right: -50px;
        margin-top: -202px;
    }

    .page-slider {
        margin-bottom: 40px;
    }

    .page-content.contact-wrapper p {
        margin-top: 20px;
    }

    .detail-page-feature {
        height: auto;
    }

    .want-wrapper, .want-wrapper .animate-in.animated {
        text-align: center;
    }

        .want-wrapper a {
            float: none;
            margin-top: 20px;
        }
}

@media only screen and (max-width: 600px) {
    .mac {
        width: 250px;
    }

    .laptop {
        width: 150px;
    }

    .ipad {
        width: 70px;
    }
}

@media only screen and (max-width: 500px) {
    .services-content .overlap h4 small {
        font-size: 14px;
    }

    .services-content .overlap h4 {
        font-size: 22px;
        margin-left: 15px;
    }

    .services-content .overlap span {
        font-size: 12px;
        padding: 4px 12px;
    }

    .services-content:hover .overlap span {
        margin-left: 15px
    }

    .section-wrapper .heding-wrapper h3 {
        font-size: 24px;
    }

    .testimonial-wrapper .name {
        font-size: 30px;
    }

    .page-content-wrapper h1 {
        font-size: 28px;
    }

    .portfolio-wrapper .portfolio-list > div {
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .contact-holder .detail-holder {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 321px) {
    .container {
        overflow: hidden;
    }
}
/*********************************** tabber *****************************************/
.adds {
    padding-top: 40px;
}

    .adds .tab-content {
        padding: 30px 0 0;
    }

        .adds .tab-content .tab-pane {
            font-family: "Asap";
            font-weight: normal;
            color: #fff;
            line-height: 1.6em;
        }

        .adds .tab-content h4 {
            font-family: "Asap";
            font-weight: normal;
            color: #666666;
            line-height: 2.2em;
        }

        .adds .tab-content ul li {
            font-family: "Asap";
            font-weight: normal;
            color: #666666;
            line-height: 1.6em;
            margin-left: 10px;
        }

    .adds .nav-tabs {
        border-bottom: 0px;
    }

        .adds .nav-tabs li {
            display: inline-block;
            float: none;
        }

        .adds .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            background-color: #474747;
            border-radius: 0px;
            color: #ffffff;
            font-family: "Asap";
            font-weight: normal;
            letter-spacing: 0.1em;
            border: 2px solid #474747;
        }

        .adds .nav-tabs > li > a {
            border: 2px solid #ffffff;
            border-radius: 0px;
            line-height: 1.42857;
            margin: 0 5px;
            font-family: "Asap";
            font-weight: normal;
            letter-spacing: 0.1;
            background: #fff;
        }

            .adds .nav-tabs > li > a:hover {
                background: #474747;
                color: #fff;
            }

.border-left {
    background-color: #fff;
    border-left-width: 1px;
    border-left-style: solid;
}
/* ===== about us page styling here ======== */
.simple-slider {
    overflow: hidden;
}

    .simple-slider.owl-carousel .owl-item img {
        width: 100%;
    }

    .simple-slider .owl-dots {
        text-align: center;
    }

        .simple-slider .owl-dots div {
            width: 5px;
            height: 5px;
            display: inline-block;
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            margin: 0 3px;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }

.skills-slider-holder .progress {
    height: 50px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    .skills-slider-holder .progress .progress-bar {
        height: 3px;
        position: relative;
        top: 47px;
        background: #333;
    }

    .skills-slider-holder .progress .skill {
        font-size: 16px;
        line-height: 35px;
        padding: 0;
        text-transform: uppercase;
        position: relative;
        top: -40px;
        color: #fff;
    }

        .skills-slider-holder .progress .skill .val {
            float: right;
            font-style: normal;
            background: #333;
            position: relative;
            padding: 0 10px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

            .skills-slider-holder .progress .skill .val:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                bottom: -5px;
                right: 10px;
                border-top-width: 5px;
                border-top-style: solid;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }

.skills-slider-holder .progress-bar {
    text-align: left;
    transition-duration: 3s;
}
/* ======= blog Details left bar page start here ========= */
aside.recent-post li {
    margin-top: 20px;
    clear: both;
    padding-bottom: 20px;
}
/* ================ Responsive Styling ================= */
.col-footer {
    text-align: left;
}
/*------- Just Navigation ----------- */
@media (min-width:1025px) and (max-width:1199px) {
    header nav.main-nav {
        margin-right: 0px;
    }

        header nav.main-nav ul li {
            margin: 0 5px;
        }

            header nav.main-nav ul li a {
                padding: 0 7px;
            }
}

@media (min-width:320px) and (max-width:1024px) {
    .wrap {
        float: none;
        margin: 10px 0px !important;
    }

    .cd-primary-nav {
        padding: 100px 0;
    }

        .cd-primary-nav a {
            width: 100%;
            height: auto;
        }

        .cd-primary-nav li {
            margin: 0 !important;
        }
}
/* ========== End Navigation styling here ================ */
/* ========== Start all other responsiveness ============= */
@media (min-width:992px) and (max-width:1199px) {
    .section-wrapper .heding-wrapper p {
        float: none;
    }

    .half-container-right {
        float: left;
        width: 100%;
        padding-right: 0px;
    }

        .half-container-right .row > div {
            padding-left: 15px;
        }

    .half-container-left1 {
        width: 100%;
    }

    .adds .nav-tabs > li > a {
        margin-right: 0px;
        padding: 5px 10px;
    }

    .mask h3 a small {
        font-size: 14px !important;
    }

    .team-holder a img {
        width: 100%;
    }
    /* ==== about us page ======= */
    .page-content-wrapper h1 {
        line-height: 35px;
    }
    /* ==== Blog with left bar page ======= */
    .detail-page-feature {
        height: auto;
    }
    /* ===== Price Page ===== */
    .half-container-left {
        width: 100% !important;
    }

    .section-wrapper .page-content-wrapper .heding-wrapper {
        padding-top: 30px;
        margin-bottom: 10px;
    }

    footer .footer-left ul li:first-child {
        margin-left: 5px;
    }

    .adds .nav-tabs {
        width: 53%;
    }

    .nav-tabs > li {
        margin-right: 10px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .section-wrapper .heding-wrapper p {
        float: none;
    }

    .sm-col {
        width: 100%;
        padding-left: 0;
    }

    .half-container-right1 {
        padding-bottom: 2%;
    }

    .sm-portfolio:before {
        content: normal !important;
    }

    .sm-portfolio:after {
        clear: none !important;
    }

    .colSm-right {
        width: 100%;
    }

    .adds {
        margin-top: 3%;
        padding-left: 15px;
    }

        .adds .nav-tabs {
            border-bottom: 0px;
            text-align: center;
        }

    .colSm-right .half-container-left1 {
        padding-bottom: 2%;
        float: left;
        width: auto;
    }

    .colSm-6 {
        width: 50%;
        margin-bottom: 20px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

        .colSm-6 .view {
            float: none;
        }

    .col-clearFix {
        display: table;
        content: " ";
        clear: both;
    }
    /* ==== about us page ======= */
    .page-content-wrapper h1 {
        line-height: 35px;
    }
    /* ======= blog page start here ========= */
    .detail-page-feature {
        height: auto;
    }
    /* ======= blog Details left bar page start here ========= */
    .aside.recent-post li {
        margin-top: 20px;
        clear: both;
        padding-bottom: 20px;
    }
    /* ======= blog Details Right bar page start here ========= */
    .right-blogSide li a img {
        float: none;
    }

    .box-heding > h3 {
        font-size: 20px;
    }

    .client-wrapper img {
        margin-bottom: 15px;
    }

    .contact-holder .detail-holder {
        margin-bottom: 20px;
    }

    .first-nav {
        padding-top: 15px;
    }
}

@media (min-width:480px) and (max-width:767px) {
    .cd-primary-nav {
        padding: 145px 0 !important;
    }

    .section-wrapper .heding-wrapper p {
        float: none;
    }

    .half-container-right1 {
        padding-bottom: 2%;
    }

    .sm-col {
        padding-left: 0;
    }

    .sm-portfolio:before {
        content: normal !important;
    }

    .sm-portfolio:after {
        clear: none !important;
    }

    .colSm-right {
        width: 100%;
    }

    .adds {
        margin-top: 0%;
        padding-left: 0px;
    }

        .adds .nav-tabs {
            border-bottom: 0px;
            margin-bottom: 30px;
        }

    .colSm-right .half-container-left1 {
        padding-bottom: 2%;
        float: left;
    }

    .skilk {
        padding-bottom: 0 !important;
    }

    .colSm-6 {
        width: 50%;
        margin-bottom: 20px;
        padding-left: 10px !important;
        padding-right: 10px !important;
        float: left;
    }

        .colSm-6 .view {
            float: none;
        }

    .section-wrapper {
        padding-bottom: 20px;
    }

    .contact-background {
        padding-bottom: 0;
    }

    .team-holder {
        margin-left: 10px;
        margin-right: 10px;
    }

    .sm-portfolio:before {
        content: normal !important;
    }

    .sm-portfolio:after {
        clear: none !important;
    }

    .adds .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        padding: 5px 5px;
    }

    .adds .nav-tabs > li > a {
        padding: 5px 5px;
    }

    .adds .nav-tabs > li > a {
        margin: 1px !important;
    }

    .half-container-right .row > div, .half-container-left .row > div {
        padding-left: 15px;
        padding-right: 15px;
    }

    .specilize-wrapper .h6 {
        margin-bottom: 20px;
    }
    /* ==== about us page ======= */
    .page-content-wrapper h1 {
        line-height: 35px;
    }
    /* ======= blog page start here ========= */
    .page-content-wrapper .blog-post-holder h2 a {
        font-size: 28px;
    }

    .pagination ul li a {
        padding: 5px 7px;
    }

    .pagination ul li span {
        padding: 5px 7px;
    }
    /* ===== Price Page ===== */
    .section-wrapper .page-content-wrapper .heding-wrapper {
        padding-top: 30px;
    }

    .col-clearFix {
        display: table;
        content: " ";
        clear: both;
    }

    .col-footer a img.img-responsive {
        width: 60%;
    }

    .client-wrapper img {
        margin-bottom: 15px;
    }
}

@media (min-width:320px) and (max-width:479px) {
    .cd-primary-nav {
        padding: 145px 0 !important;
    }

    header figure a img {
        width: 90%;
    }

    .btn, .btn.p10-50 {
        padding: 10px;
    }

    .section-wrapper .heding-wrapper p {
        float: none;
    }

    .half-container-right1 {
        padding-bottom: 2%;
    }

    .sm-col {
        padding-left: 0;
    }

    .sm-portfolio:before {
        content: normal !important;
    }

    .sm-portfolio:after {
        clear: none !important;
    }

    .colSm-right {
        width: 100%;
    }

    .adds {
        margin-top: 0;
        padding-left: 0px;
    }

        .adds .nav-tabs {
            border-bottom: 0px;
            margin: 0% 0 30px 0%;
            width: 100%;
            padding-bottom: 10px;
        }

    .nav-tabs > li {
        margin-bottom: -1px;
        float: none !important;
    }

    .colSm-right .half-container-left1 {
        padding-bottom: 2%;
        float: left;
    }

    .colSm-6 {
        width: 100%;
        margin-bottom: 10px;
        padding-left: 10px !important;
        padding-right: 10px !important;
        float: left;
    }

        .colSm-6 .view {
            float: none;
        }

    .section-wrapper {
        padding-bottom: 20px;
    }

    .contact-background {
        padding-bottom: 0;
    }

    .team-holder {
        width: 100%;
    }

    .sm-portfolio:before {
        content: normal !important;
    }

    .sm-portfolio:after {
        clear: none !important;
    }

    .adds .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        padding: 5px 2px;
        font-size: 12px;
    }

    .adds .nav-tabs > li > a {
        padding: 5px 2px;
        font-size: 12px;
    }

    .adds .nav-tabs > li > a {
        margin: 1px !important;
        margin-bottom: 5px !important;
    }

    .client-wrapper img {
        margin: 5px 0px;
    }

    .half-container-right .row > div, .half-container-left .row > div {
        padding-left: 15px;
        padding-right: 15px;
    }

    .portfolio-wrapper ul li {
        margin: 0 17px;
    }

    .panel-collapse .panel-body {
        margin-left: 0;
    }

    .specilize-wrapper .h6 {
        margin-bottom: 20px;
    }

    .section-wrapper .heding-wrapper span {
    }
    /* ==== about us page ======= */
    .page-content-wrapper h1 {
        line-height: 35px;
    }
    /* ======= blog page start here ========= */
    .page-content-wrapper .blog-post-holder h1 {
        font-size: 28px;
        line-height: 34px;
    }

    .pagination ul li a {
        padding: 7px 10px;
    }

    .pagination ul li span {
        padding: 7px 10px;
    }

    .page-content-wrapper .blog-post-holder .meta-item {
        margin: 0 5px;
    }
    /* ===== Price Page ===== */
    .section-wrapper .page-content-wrapper .heding-wrapper {
        margin-bottom: 10px;
    }

    .col-clearFix {
        display: table;
        content: " ";
        clear: both;
    }
}

@media screen and (max-width: 768px) {
    .w100p-768 {
        width: 100%;
    }

    .mw100p-768 {
        max-width: none;
    }

    .block-768 {
        display: block;
    }

    .pl15-768 {
        padding-left: 15px;
    }

    .pr15-768 {
        padding-right: 15px;
    }

    .page-content-wrapper .blog-post-holder h1, .page-content-wrapper .blog-post-holder h2, .page-content-wrapper #comments .h3 {
        line-height: inherit;
    }
}
/* ===== Sidebar ===== */
.st-content {
    overflow-y: scroll;
    background: #f3efe0;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: 13330;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
}

.st-menu-open.st-container {
    width: 100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.st-pusher {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 1333px;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.st-menu-open .st-pusher {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #474747;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    padding: 20px 10px;
}

    .st-menu::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        content: '';
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s, width 0.1s 0.5s, height 0.1s 0.5s;
    -moz-transition: opacity 0.2s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.2s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
}

.st-menu ul li a {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.2s, box-shadow 0.2s;
    -moz-transition: background 0.2s, box-shadow 0.2s;
    transition: background 0.2s, box-shadow 0.2s;
}

.st-menu ul li:first-child a {
    -webkit-box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
    background: rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 -1px rgba(0,0,0,0);
    -moz-box-shadow: inset 0 -1px rgba(0,0,0,0);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: #fff;
}
/* ===== Effect: Slide in on top ===== */
.st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
    display: none;
}

.toggle-panel {
    position: absolute;
    left: 306px;
    top: 3px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    z-index: 133300;
    text-align: center;
    color: #474747;
    font-size: 25px;
    cursor: pointer;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ===== FORM ALERT ===== */
.form-alert {
    position: fixed;
    left: 0;
    top: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: rgba(0, 0, 0, .2);
}

    .form-alert .c-row {
        display: table-row;
    }

    .form-alert .c-cell {
        text-align: center;
    }

    .form-alert .alert-content {
        display: inline-block;
        background: #fff;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        padding: 20px;
    }
/* ===== Wide/Boxed ===== */
body.boxed .boxed-wrapper {
    left: auto;
    max-width: 1170px;
    width: 100%;
    margin: auto;
    float: none;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

body.boxed {
    background-attachment: fixed;
}

body .boxed-wrapper {
    background-color: #fff;
}

body.boxed header {
    max-width: 1170px;
    left: auto;
}

.buttons-list {
    text-align: center;
    font-size: 0;
}

    .buttons-list .item {
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        padding: 5px 10px;
        border: 2px solid #fff;
        cursor: pointer;
        font-size: 16px;
        text-transform: uppercase;
        margin: 0 5px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

        .buttons-list .item.active {
            background: #fff;
            color: #474747;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

.section-title {
    text-transform: uppercase;
    font-size: 18px;
    margin: 30px 0 10px 0;
    text-align: center;
}

.items-switcher {
    font-size: 0;
    text-align: center;
}

    .items-switcher .item {
        width: 34px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        cursor: pointer;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

        .items-switcher .item.active {
            border: 2px solid #fff;
        }

.patterns-list .item.active,
.backgrounds-list .item.active {
    border-color: #e53838;
}

body[data-bg-type="background"] .patterns-list .item,
body[data-bg-type="pattern"] .backgrounds-list .item {
    border: 0;
}

body[data-bg-type="background"] {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.colors-list .item.red {
    background: #e53838;
}

.colors-list .item.blue {
    background: #00a4e4;
}

.colors-list .item.orange {
    background: #db5940;
}

.colors-list .item.green {
    background: #66aa33;
}

.colors-list .item.violet {
    background: #8f499c;
}

header[data-position="relative"] {
    position: relative;
}

.boxed-pattern,
.boxed-background {
    display: none;
}

body.boxed .boxed-pattern,
body.boxed .boxed-background {
    display: block;
}

.boxed-pattern .item {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
