/* ---------------------------------- FOOTER SECTION ---------------------------------- */
footer {
    height: auto;
    background: #424242;
    padding: 60px 0 60px 0;
}

    footer .footer-left div {
        color: #fff;
        margin-top: 40px;
    }

    footer .footer-left {
        margin-top: 0px;
    }

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    footer .h3 {
        color: #fff;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    footer a {
        color: #fff;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: none;
        }

    footer .footer-left ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        margin-top: 15px;
    }

    footer ul li {
        padding: 3px 0;
    }

    footer .footer-left ul li {
        display: inline-block;
        margin-left: 5px;
    }

        footer .footer-left ul li:first-child {
            margin-left: 0;
        }

    footer ul.footer-thumb li {
        display: inline-block;
    }

    footer ul li img {
        display: inline-block;
        margin: 0 2px 2px;
        height: 80px;
        width: 78px;
    }

    footer .footer-left ul li a {
        width: 34px;
        height: 34px;
        border-radius: 2px;
        font-size: 18px;
        background: #707070;
        color: #fff;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        transition: .2s;
        display: inline-block;
        text-align: center;
        line-height: 35px;
        margin-top: 5px;
        text-decoration: none;
    }

        footer .footer-left ul li a:hover {
            color: #fff !important;
        }

.bottom-bar {
    padding: 40px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    float: left;
}

    .bottom-bar a {
        color: #fff;
    }
/* ---------------------------------- SCROLL TO TOP ---------------------------------- */
a.scrollToTop {
    width: 50px;
    height: 50px;
    text-align: center;
    background: #fff;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 40px;
    display: none;
    border-width: 5px;
    border-style: solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 32px;
    line-height: 32px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    z-index: 9999;
}

.scrollToTop:hover {
    text-decoration: none;
    color: #fff !important;
    border-color: #fff;
}
