<!-- FOOTER START -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 footer-left col-footer">
        <a class="footer-logo" href="index.html"><img src="/dist/assets/images/footer-logo-red.png" alt="logo-img"></a>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</div>
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-flickr"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-footer footer-nav first-nav">
        <div class="h3">Additional Links</div>
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a href="blog.html">BLOG</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-footer footer-nav">
        <div class="h3">Blog</div>
        <ul>
          <li><a href="blog.html">Full Width</a></li>
          <li><a href="blog-with-leftbar.html">Blog With Left Sidebar</a></li>
          <li><a href="blog-with-rightbar.html">Blog With Right Sidebar</a></li>
          <li><a href="blog-detail.html">Blog Detail Page</a></li>
          <li><a href="blog-detail-leftbar.html">Blog Detail Page With Left Sidebar</a></li>
          <li><a href="blog-detail-rightbar.html">Blog Detail Page With Right Sidebar</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-footer">
        <div class="h3">Photo Stream</div>
        <ul class="footer-thumb">
          <li><a href="#"><img src="/dist/assets/images/photo-stream-1.jpg" alt="thumb"></a></li>
          <li><a href="#"><img src="/dist/assets/images/photo-stream-2.jpg" alt="thumb"></a></li>
          <li><a href="#"><img src="/dist/assets/images/photo-stream-3.jpg" alt="thumb"></a></li>
          <li><a href="#"><img src="/dist/assets/images/photo-stream-4.jpg" alt="thumb"></a></li>
          <li><a href="#"><img src="/dist/assets/images/photo-stream-5.jpg" alt="thumb"></a></li>
          <li><a href="#"><img src="/dist/assets/images/photo-stream-6.jpg" alt="thumb"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER END -->

<section class="bottom-bar"> <span>All Rights Reserved. ©2017 One Solution - Multipurpose HTML Template. Design by <a href="mailto:denysthemes@gmail.com">DENYSTHEMES</a></span> </section>
<a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>

<div id="st-container" class="st-container st-effect-1">
  <div class="st-menu st-effect-1" id="menu-1">
    <div class="toggle-panel rotating"><i class="fa fa-cog" aria-hidden="true"></i></div>
    <div class="wide-boxed-section buttons-list">
      <div class="item wide active" data-item="wide">Wide</div>
      <div class="item boxed" data-item="boxed">Boxed</div>
    </div>
    <div class="color-section">
      <div class="section-title">Colors scheme:</div>
      <div class="colors-list items-switcher">
        <div class="item red active" data-color-path="/dist/assets/css/colors/red.css" data-logo-path="/dist/assets/images/logo-red.png" data-footer-logo-path="/dist/assets/images/footer-logo-red.png"></div>
        <div class="item blue" data-color-path="/dist/assets/css/colors/blue.css" data-logo-path="/dist/assets/images/logo-blue.png" data-footer-logo-path="/dist/assets/images/footer-logo-blue.png"></div>
        <div class="item orange" data-color-path="/dist/assets/css/colors/orange.css" data-logo-path="/dist/assets/images/logo-orange.png" data-footer-logo-path="/dist/assets/images/footer-logo-orange.png"></div>
        <div class="item green" data-color-path="/dist/assets/css/colors/green.css" data-logo-path="/dist/assets/images/logo-green.png" data-footer-logo-path="/dist/assets/images/footer-logo-green.png"></div>
        <div class="item violet" data-color-path="/dist/assets/css/colors/violet.css" data-logo-path="/dist/assets/images/logo-violet.png" data-footer-logo-path="/dist/assets/images/footer-logo-violet.png"></div>
      </div>
    </div>
    <div class="positioning-header">
      <div class="section-title">Positioning of header:</div>
      <div class="header-positions buttons-list">
        <div class="item fixed active" data-item="fixed">Fixed</div>
        <div class="item top" data-item="relative">Top</div>
      </div>
    </div>
    <div class="boxed-pattern">
      <div class="section-title">Patterns:</div>
      <div class="patterns-list items-switcher">
        <div>
          <div class="item active" style="background-image: url(/dist/assets/images/patterns/1.png);" data-path="/dist/assets/images/patterns/1.png"></div>
          <div class="item" style="background-image: url(/dist/assets/images/patterns/2.png);" data-path="/dist/assets/images/patterns/2.png"></div>
          <div class="item" style="background-image: url(/dist/assets/images/patterns/3.png);" data-path="/dist/assets/images/patterns/3.png"></div>
          <div class="item" style="background-image: url(/dist/assets/images/patterns/4.png);" data-path="/dist/assets/images/patterns/4.png"></div>
          <div class="item" style="background-image: url(/dist/assets/images/patterns/5.png);" data-path="/dist/assets/images/patterns/5.png"></div>
        </div>
        <div>
          <div class="item" style="background-image: url(/dist/assets/images/patterns/6.png);" data-path="/dist/assets/images/patterns/6.png"></div>
          <div class="item" style="background-image: url(/dist/assets/images/patterns/7.png);" data-path="/dist/assets/images/patterns/7.png"></div>
          <div class="item" style="background-image: url(/dist/assets/images/patterns/8.png);" data-path="/dist/assets/images/patterns/8.png"></div>
          <div class="item" style="background-image: url(/dist/assets/images/patterns/9.png);" data-path="/dist/assets/images/patterns/9.png"></div>
          <div class="item" style="background-image: url(/dist/assets/images/patterns/10.png);" data-path="/dist/assets/images/patterns/10.png"></div>
        </div>
      </div>
    </div>
    <div class="boxed-background">
      <div class="section-title">Backgrounds:</div>
      <div class="backgrounds-list items-switcher">
        <div class="item active" style="background-image: url(/dist/assets/images/backgrounds/1-min.jpg);" data-path="/dist/assets/images/backgrounds/1.jpg"></div>
        <div class="item" style="background-image: url(/dist/assets/images/backgrounds/2-min.jpg);" data-path="/dist/assets/images/backgrounds/2.jpg"></div>
        <div class="item" style="background-image: url(/dist/assets/images/backgrounds/3-min.jpg);" data-path="/dist/assets/images/backgrounds/3.jpg"></div>
        <div class="item" style="background-image: url(/dist/assets/images/backgrounds/4-min.jpg);" data-path="/dist/assets/images/backgrounds/4.jpg"></div>
        <div class="item" style="background-image: url(/dist/assets/images/backgrounds/5-min.jpg);" data-path="/dist/assets/images/backgrounds/5.jpg"></div>
      </div>
    </div>
  </div>
  <div class="st-pusher"></div>
</div>
