<!-- FOOTER END -->
<section class="bottom-bar"> <span>All Rights Reserved. ©2017 One Solution - Multipurpose HTML Template. Design by <a href="mailto:denysthemes@gmail.com">DENYSTHEMES</a></span> </section>
<a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>

<!-- SWITCH OF OPTIONS -->
<div id="st-container" class="st-container st-effect-1">
    <div class="st-menu st-effect-1" id="menu-1">
        <div class="toggle-panel rotating"><i class="fa fa-cog" aria-hidden="true"></i></div>
        <div class="wide-boxed-section buttons-list">
            <div class="item wide active" data-item="wide">Wide</div>
            <div class="item boxed" data-item="boxed">Boxed</div>
        </div>
        <div class="color-section">
            <div class="section-title">Colors scheme:</div>
            <div class="colors-list items-switcher">
                <div class="item red active" data-color-path="/dist/assets/css/colors/red.css" data-logo-path="/dist/assets/images/logo-red.png" data-footer-logo-path="/dist/assets/images/footer-logo-red.png"></div>
                <div class="item blue" data-color-path="/dist/assets/css/colors/blue.css" data-logo-path="/dist/assets/images/logo-blue.png" data-footer-logo-path="/dist/assets/images/footer-logo-blue.png"></div>
                <div class="item orange" data-color-path="/dist/assets/css/colors/orange.css" data-logo-path="/dist/assets/images/logo-orange.png" data-footer-logo-path="/dist/assets/images/footer-logo-orange.png"></div>
                <div class="item green" data-color-path="/dist/assets/css/colors/green.css" data-logo-path="/dist/assets/images/logo-green.png" data-footer-logo-path="/dist/assets/images/footer-logo-green.png"></div>
                <div class="item violet" data-color-path="/dist/assets/css/colors/violet.css" data-logo-path="/dist/assets/images/logo-violet.png" data-footer-logo-path="/dist/assets/images/footer-logo-violet.png"></div>
            </div>
        </div>
        <div class="positioning-header">
            <div class="section-title">Positioning of header:</div>
            <div class="header-positions buttons-list">
                <div class="item fixed active" data-item="fixed">Fixed</div>
                <div class="item top" data-item="relative">Top</div>
            </div>
        </div>
        <div class="boxed-pattern">
            <div class="section-title">Patterns:</div>
            <div class="patterns-list items-switcher">
                <div>
                    <div class="item active" style="background-image: url(/dist/assets/images/patterns/1.png);" data-path="/dist/assets/images/patterns/1.png"></div>
                    <div class="item" style="background-image: url(/dist/assets/images/patterns/2.png);" data-path="/dist/assets/images/patterns/2.png"></div>
                    <div class="item" style="background-image: url(/dist/assets/images/patterns/3.png);" data-path="/dist/assets/images/patterns/3.png"></div>
                    <div class="item" style="background-image: url(/dist/assets/images/patterns/4.png);" data-path="/dist/assets/images/patterns/4.png"></div>
                    <div class="item" style="background-image: url(/dist/assets/images/patterns/5.png);" data-path="/dist/assets/images/patterns/5.png"></div>
                </div>
                <div>
                    <div class="item" style="background-image: url(/dist/assets/images/patterns/6.png);" data-path="/dist/assets/images/patterns/6.png"></div>
                    <div class="item" style="background-image: url(/dist/assets/images/patterns/7.png);" data-path="/dist/assets/images/patterns/7.png"></div>
                    <div class="item" style="background-image: url(/dist/assets/images/patterns/8.png);" data-path="/dist/assets/images/patterns/8.png"></div>
                    <div class="item" style="background-image: url(/dist/assets/images/patterns/9.png);" data-path="/dist/assets/images/patterns/9.png"></div>
                    <div class="item" style="background-image: url(/dist/assets/images/patterns/10.png);" data-path="/dist/assets/images/patterns/10.png"></div>
                </div>
            </div>
        </div>
        <div class="boxed-background">
            <div class="section-title">Backgrounds:</div>
            <div class="backgrounds-list items-switcher">
                <div class="item active" style="background-image: url(/dist/assets/images/backgrounds/1-min.jpg);" data-path="/dist/assets/images/backgrounds/1.jpg"></div>
                <div class="item" style="background-image: url(/dist/assets/images/backgrounds/2-min.jpg);" data-path="/dist/assets/images/backgrounds/2.jpg"></div>
                <div class="item" style="background-image: url(/dist/assets/images/backgrounds/3-min.jpg);" data-path="/dist/assets/images/backgrounds/3.jpg"></div>
                <div class="item" style="background-image: url(/dist/assets/images/backgrounds/4-min.jpg);" data-path="/dist/assets/images/backgrounds/4.jpg"></div>
                <div class="item" style="background-image: url(/dist/assets/images/backgrounds/5-min.jpg);" data-path="/dist/assets/images/backgrounds/5.jpg"></div>
            </div>
        </div>
    </div>
    <div class="st-pusher"></div>
</div>