<!-- PRELOADER START -->
<div class="preloader-wrapper">
  <div class="loader">
    <div class="loader-inner">
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
    </div>
  </div>
</div>
<!-- PRELOADER END -->
<!-- TOP BAR START -->
<section class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left-side">
        <!--<ul>
          <li><a href="#">about</a></li>
          <li><a href="#">features</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="#">terms</a></li>
        </ul>-->
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-side">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-flickr"></i></a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<!-- TOP BAR END -->
<!-- MOBILE MENU START -->
<app-nav-mobile-menu></app-nav-mobile-menu>
<!-- MOBILE MENU END -->
<!-- HEADER START -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-9 col-xs-9">
        <div class="c-table logo-container">
          <figure class="c-row">
            <a class="c-cell" href="index.html"><img src="/assets/images/logo-red.png" alt="logo-img"></a>
          </figure>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-3 col-xs-3">
        <div class="cd-primary-nav-trigger"> <span class="cd-menu-icon"></span> </div>
        <!-- MENU START -->
        <app-nav-menu></app-nav-menu>
        <!-- MENU END -->
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</header>
<!-- HEADER END -->
<!-- BREADCRUMBS START -->
<app-breadcrumbs></app-breadcrumbs>
<!-- BREADCRUMBS END -->